<!-- <div class='col-lg-9 col-sm-12' id='map'></div> -->
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-3 col-sm-12 overflow-auto' id='sidebar'>
            <h1 class='my-4'>Counter-Mapping the Philippines</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Ac odio tempor orci dapibus ultrices in iaculis. Ut lectus arcu bibendum at varius vel.
            <br><br>
            Maecenas accumsan lacus vel facilisis volutpat est. Sit amet purus gravida quis blandit turpis cursus in. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. In arcu cursus euismod quis viverra nibh cras.
            <br><br>
            Tellus orci ac auctor augue mauris. Tortor at risus viverra adipiscing at in tellus integer. Massa vitae tortor condimentum lacinia quis vel eros donec.
            <br><br>
        </p>
        </div>
        <div class='col-lg-9 col-sm-12' style='padding: 0;' id='map'></div>
    </div>
</div>
<script src="{{ "/static/js/mainmap.js" | prepend: site.baseurl }}"></script>
