<!-- <div class='col-lg-9 col-sm-12' id='map'></div> -->
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-3 col-sm-12 overflow-auto' id='sidebar'>
            <h1 class='my-4'>Counter-Mapping the Philippines</h1>
            <p>
            An interdisciplinary project that calls for engaged, participatory and reflexive mapping practices, CountermappingPH is an initiative rooted in efforts to consolidate the experiences of dispossession and the struggles of vulnerable communities amidst development aggression and various disenfranchising processes linked with urban transformations and uneven economic growth.
            <br><br>
            Through the co-production of maps and articulation of spatial narratives, artists, GIS practitioners, development workers, educators, students, human rights advocates and the marginalized sectors of the society collaborate toward foregrounding claims to just, inclusive, and sustainable community.
        </p>
        </div>
        <div class='col-lg-9 col-sm-12' style='padding: 0;' id='map'></div>
    </div>
</div>
<script src="{{ "/static/js/mainmap.js" | prepend: site.baseurl }}"></script>
