<nav class='navbar navbar-expand-lg mb-4' style='background-color: #57B0BE'>
    <div class='container' role='navigation'>
        <a class='navbar-brand' href='{{ site.baseurl }}/'>
            <img class='img-fluid' id='navbar-img' src='{{ site.baseurl }}/media/site/img/counter-mapping-ph-circle-2.png'>
        </a>
        <button class='navbar-toggler navbar-dark' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
            <div class='nav navbar-nav'>
                <a class='nav-item nav-link nav-text' href='{{ site.baseurl }}/counter-mapping.html'>WHAT IS COUNTER-MAPPING?</a>
            </div>
            <div class='nav navbar-nav dropdown'>
                <a class='nav-item nav-link nav-text dropdown-toggle' data-toggle='dropdown' href=''>COUNTER-MAPPING THE PHILIPPINES</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='{{ site.baseurl }}/efforts/counter-mapping-new-clark-city/'>Counter-mapping New Clark City</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/efforts/student-initiatives/'>Student Initiatives</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/efforts/cians-counter-mapping/'>Counter-mapping as Art</a>
                </div>
            </div>
            <div class='nav navbar-nav dropdown'>
                <a class='nav-item nav-link nav-text dropdown-toggle' data-toggle='dropdown' href='{{ site.baseurl }}/tools-and-methodologies.html'>TOOLS & METHODOLOGIES</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/mental-maps.html'>Mental Maps</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/community-maps.html'>Community Maps</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/walking-interviews.html'>Walking Interviews</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/auto-photography.html'>Auto-Photography</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/photo-and-video-elicitation.html'>Photo & Video Elicitation</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/uav-drones.html'>UAV/Drones</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/fgd-kii.html'>FGD & KII's</a>
                    <a class='dropdown-item' href='{{ site.baseurl }}/tools-and-methods/cians-counter-mapping.html'>Counter-mapping as Art</a>
                </div>
            </div>
            <div class='nav navbar-nav dropdown'>
                <a class='nav-item nav-link nav-text dropdown-toggle' data-toggle='dropdown' href='{{ site.baseurl }}/tools-and-methodologies.html'>ABOUT</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='{{ site.baseurl }}/about/counter-mapping-ph.html'>Counter-mapping PH</a>
                </div>
            </div>
        </div>
    </div>
</nav>
