$color-red: rgb(214, 60, 52);
$color-blue-dark: rgb(11, 47, 51);
$color-blue-light: rgb(87, 176, 190);


.color-red {
    color: $color-red;
}

.color-blue-dark {
    color: $color-blue-dark;
}

.color-blue-light {
    color: $color-blue-light;
}
